* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgb(0, 20, 85);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fullview {
  background: 
      radial-gradient(
      circle at 75% 10%, rgba(255, 0, 0, 0.35), rgba(225, 0, 0, 0.35), transparent 40%),
      radial-gradient(
      circle at top, rgb(20, 45, 135)50%, rgb(0, 0, 0));
  height: 100vh;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 30% 3.5rem auto;
  grid-template-areas: 
    "b b r r"
    "lock lock lock lock"
    "legends legends legends legends";
}

.blueTeam {
  grid-area: b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.redTeam {
  grid-area: r;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.locked {
  background-color: rgb(60, 88, 165);
  grid-area: lock;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.legendsBox {
  background-color: rgb(19, 22, 90);
  grid-area: legends;
  max-height: 100vh;
  overflow: auto;
  scrollbar-width: none;
}



.players {
  background-color: rgba(128, 128, 128, 0.150);
  height: 20vh;
  width: 12vw;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blueT {
  background-color: rgb(20, 40, 120);
  border: solid 5px rgb(0, 0, 56);
}

.redT {
  background-color: rgb(100, 30, 30);
  border: solid 5px rgb(48, 0, 0);
}

.imgcont {
  object-fit: cover;
  background-color: transparent;
  height: 20vh;
  width: 12vw;
}


/* .ready {
  background-color: yellow;
  border-style: solid;
  border-color: black;
  border-radius: 25%;
  height: 45px;
  width: 200px;
  margin: 6px;
} */

.legendList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.legend {
  background-color: rgba(92, 92, 155, 0.3);
  width: 20vh;
  min-width: 10vw;
  max-width: 15vw;
  border: solid 5px rgb(81, 90, 168);
  margin: 10px;
  
}

.highlight {
  border: solid 5px rgb(121, 228, 255);
  box-shadow: inset 0 -50px 20px rgba(53, 100, 255, 0.7);
}

.banned {
  filter: saturate(0%);
}